.header-container {
  border-bottom: '1px solid #eee';
  padding-bottom: 6px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
};

article .jHtXmx {
  min-width: 0 !important;
}

.jHtXmx { 
  min-width: 0 !important;
}