#paper-orders {
  background-color: #9C27B0 !important;
  height: 150px;
}

.orders-container {
  height: 95px;
  padding: 5px 15px 0 15px;
}

.orders-header {
  font-size: 24px;
  font-weight: 300 !important;
  color: white;
  background-color: #8E24AA !important;
  padding: 10px;
}